.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.register-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 40px;
  width: 400px;

  .register-title {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .register-body {
    .error-message {
      color: red;
      font-size: 1.5rem;
    }
  }

  input {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .register-footer {
    button {
      background-color: #ee4d2d;
      color: white;
      font-size: 14px;
      width: 100%;
      padding: 12px 12px;

      &:hover {
        opacity: 0.7;
      }
    }

    span {
      display: block;
      margin-top: 10px;
      color: #0055aa;
      font-size: 14px;
    }
  }
}
